<h1>Create New Sprite Profile</h1>

<% form_for :contestant,@contestant,
					 :html => { :multipart => true },
					 :url=> { :action=>'create'} do |f| %>		
	<%= hidden_field :contest, :id, :value=>params[:contest_id] %>			 
	<fb:editor-custom>
		<table>
			<tr>
				<td>Sprite Name:</td>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td><%= f.select :gender, [["-Select-",""], ["Boy","M"], ["Girl","F"]]  %></td>
			</tr>
			<tr>
				<td>Photo:</td>
				<td><%= f.file_field :photo %></td>
			</tr>
		</table>		 

	</fb:editor-custom>
  </p>
  <p>
  	<fb:editor-custom>
  	<%	if params[:contest_id]
			buttontext = "Create Sprite and Submit Challenge!"
		else
			buttontext = "Create Sprite!"
		end
	%>
  	<%= f.submit buttontext, :id=>'submit', :class=>'editorkit_button action', :onclick=>'javascript:submitNewSprite();'  %>
	<img src="/images/ajax.gif" id="ajax_img" style="display:none;" />
	</fb:editor-custom>
  </p>
<% end %>

<script type="text/javascript">
	/**
	 * disables the button and shows a spinny ajax loader while uploading the picture
	 */
	function submitNewSprite() {
		$('#ajax_img').toggle();
		$('#submit').attr('disabled', true);
	}
	
</script>
