<h1><%= @contestant.name %></h1>

<%= image_tag( @contestant.photo.url( :medium )) %>
<% if @pending_contests.length > 0 %>
	<h2>Pending Contests</h2>
	<% for contest in @pending_contests %>
	<a href="<%=url_for :controller=>'contests',:action=>'show',:id=>contest.id  %>">
	<%=contest.name %>:	<%=@contestant.name %> vs.
		<% for c in contest.contestants %>
			<% if c != @contestant %>
				<%=c.name %>
			<% end%>
		<% end %>
	</a>
	 <br/>
	<% end %>
<% end %>

<% if @active_contests.length >0 %>
	<h2>Active Contests</h2>
	<% for contest in @active_contests %>
	<a href="<%=url_for :controller=>'contests',:action=>'show',:id=>contest.id  %>">
	<%=contest.name %>:	<%=@contestant.name %> vs.
		<% for c in contest.contestants %>
			<% if c != @contestant %>
				<%=c.name %>
			<% end%>
		<% end %>
	</a>
	 <br/>
	<% end %>
<% end %>
	 
<h2>Recently Finished Contests</h2>
<% for contest in @recent_contests %>
<a href="<%=url_for :controller=>'contests',:action=>'show',:id=>contest.id  %>"><%=contest.name %></a>: 
	<% if contest.is_a_tie %>
		Tie
	<% elsif contest.winner != nil && contest.winner.id == @contestant.id %>
		<span style="font-weight:bold;">WON!</span>
	<% else%>
		Lost
	<% end %>
	<%# This is inefficiently causing extra queries to be executed and should probably get refactored #%>
	Votes:
	<%=@contestant.votes_for_contest(contest.id) %> to
	<% contest.contestants.each do |c| %>
		<% if c.id != @contestant.id %>
			<%=c.votes_for_contest(contest.id) %>
		<% end %>
	<% end %>
 <br/>
<% end %>
