<h1>Accept Challenge</h1>

<%= facebook_messages %>
	<p/>

<%# We need to make a partial page to share code between new and accept %>

In order to accept the challenge You must create a new sprite profile or choose an existing sprite profile.

<p/>


Your sprite will compete for votes against <fb:name uid="<%=@contest.initiated_by_user.facebook_id%>"/>'s sprite
<p/>
<div id="the_challenger" class="editorkit" style="width:425px;text-align:center;">
	<h3>The Challenger:</h3>
	<%=image_tag(@contest.contestant_for_user(@contest.initiated_by_user.id).photo.url(:small))%>
	<br/>
	<%=@contest.contestant_for_user(@contest.initiated_by_user.id).name %>
	
</div>

<% facebook_form_for :contest,@contest, :url=>url_for( :action=>'accept_save'), :prompt_permission=>'publish_stream' do |f| %>
	<input type="hidden" name="id" value="<%=@contest.id %>" />
	<%= f.select :select_contestant_id, @contestants.map { |c| [c.name,c.id]} , :label=>"Choose your sprite" %>
	

  <p>
 	<%= f.buttons "Accept Challenge!" %>
  </p>
<% end %>
  

<%= link_to 'Back', contests_path %>
