<h1>Spriteclub</h1>
<h2>Where your offspring compete with others' offspring to find out who has the cutest kid</h2>

<div id="introMessage" style="border:1px solid #000">
	Put some introduction text here
</div>

Need to make this page more intesting, by featuring in progress contests to vote on

<table>
  <tr>
  	<th>Name</th>
    <th>Received by user</th>
    <th>Expire date</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%=h contest.name %></td>
    <td><%=h contest.sent_to_user %></td>
    <td><%=h contest.expire_date %></td>
    <td><%= link_to 'Show', :action=>"show",:id=>contest.id %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contest', new_contest_path %>
