<h1>Listing challenges</h1>

<table>
  <tr>
  	<th>Name</th>
    <th>Received by user</th>
    <th>Expire date</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%=h contest.name %></td>
    <td><%=h contest.challenge.sent_to_user %></td>
    <td><%=h contest.challenge.expire_date %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contest', new_contest_path %>
