<br/>
Welcome <%=@_current_facebook_user.name unless @_current_facebook_user == nil %>
<div id="introMessage" class="bluebox" >
	Welcome to Sprite Club.&nbsp; We offer users a virtual world where they can challenge and compete in superficial contests involving their children (Sprites).&nbsp; Move up in rank and file. Evolve. Grow.&nbsp; Fulfill your destiny and become the proud parent of the cutest sprite in the universe!
</div>

<div class="faceoff_list">
<h2>Active Face-Offs</h2>
<table>
  <tr>
  	<th width="200px">Face-Off Name</th>
    <!--<th>Received by user</th>-->
	<th width="175px">Contestants</th>
    <th width="200px">Time Remaining</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%= link_to contest.name, :action=>'show',:id=>contest.id %>:</td>
	<td>
		<% for i in (0..1) %>
			<!-- put tiny images of contestants here -->
			<%=contest.contestants[i].name%>
			<% if i <1 %> vs. <%end%>
		<%end%>
	</td>
    <td><%=h contest.time_remaining %></td>
    <td></td>

  </tr>
<% end %>
</table>
</div>

<br />

<input type="button" value="Create a New Face-Off" onclick="javascript:window.location='<%=url_for :action=>'new', :canvas=>false %>';" />



<div class="faceoff_list">
<h2>Recently Ended Face-Offs</h2>
<table>
  <tr>
  	<th width="200px">Face-Off Name</th>
    <!--<th>Received by user</th>-->
	<th width="175px">Contestants</th>
    <th width="400px">Result</th>
  </tr>

<% for contest in @recently_ended_contests %>
  <tr>
  	<td><%= link_to contest.name, :action=>'show',:id=>contest.id %>:</td>
	<td>
		<% for i in (0..1) %>
			<!-- put tiny images of contestants here -->
			<%=contest.contestants[i].name%>
			<% if i <1 %> vs. <%end%>
		<%end%>
	</td>
    <td><%=h contest.result_text %></td>
    <td></td>

  </tr>
<% end %>
</table>
</div>



