<h1>Listing Contests</h1>

<table>
  <tr>
  	<th>Name</th>
    <th>Received by user</th>
    <th>Expire date</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%=h contest.name %></td>
    <td><%=h contest.sent_to_user %></td>
    <td><%=h contest.expire_date %></td>
    <td><%= link_to 'Show', :action=>"show",:id=>contest.id %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contest', new_contest_path %>
