<h1>New challenge</h1>

<%= facebook_messages %>

<% facebook_form_for :challenge, :url=>challenges_path do |f| %>
	
	<%= f.multi_friend_input :label=>"User to Challenge"%>
	
	<p/>
	
	<%# The form elements for challenge.contest #%> 
		<% fields_for "challenge[contest_attributes][]", @challenge.contest do |contest_form|  %>
		Contest Name:	<%= contest_form.text_field :name %>
	<% end %>
	
	<p/>
  <p>
    <%= f.datetime_select :expire_date %>
  </p>
  <p>
 	<%= f.buttons "Challenge!" %>
  </p>
<% end %>

<%= link_to 'Back', challenges_path %>
