<!doctype html >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<%= stylesheet_link_tag "spriteclub" %>
	<link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js" ></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.6.custom.min.js" ></script>

	
</head>

<body>
<script>
	var onload = [];
</script>



    <% fb_connect_async_js  do %>    
      <%= yield :fb_connect%>
	  FB.Canvas.setAutoResize();
	  
	  //FB.XD._origin = (window.location.protocol+'//'+window.location.host+'/'+FB.guid());
	  
  	  /*FB.getLoginStatus(function(response) {
	  	if (response.session) {
			alert('the user is logged in');
		}
		else {
			alert('the user is not logged in');
		}
	  });
	  */
	  FB.Event.subscribe('auth.sessionChange', function(response) {
	    if (response.session) {
	      // A user has logged in, and a new cookie has been saved
		  //alert('user logged in');
	    } else {
	      // The user has logged out or removed permissions to this app. The cookie has been cleared
		  // If the user is still logged into facebook but has removed permissions
		  alert('You have been logged out of this session');
		  logout();
	    }
	  });
		
		//this will make any functions in the onload array execute after FB.init
		for(var a = 0;a < onload.length;a++) {onload[a]();}
    <% end %>
	<%= javascript_include_tag "application" %>
	
	
<div class="mainContainer">
<%=link_to image_tag( "sc_logo.gif"),:controller=>'contests', :action=>'index' %>

	<p><%= flash[:notice] %></p>

	<div class="tabs clearfix" style="height:19xp;border-radius:0px">
	    <center>
	        <div class="left_tabs">
	            <ul id="toggle_tabs_unused" class="toggle_tabs">
	                <li class="first">
	                    <a onmousedown="" onclick="return true;" href="/contests"
						<% if selected=='contests'%>class="selected"<%end%>
						>Home</a>
	                </li>
					<li>
						<a href="/rating" 
						<% if selected=='rating'%>class="selected"<%end%>
						>Rate Sprites
						</a>
					<li>
						<a href="/leaderboard"
						<% if selected=='leaderboard'%>class="selected"<%end%>
						>Leaderboard</a>
					</li>

	                <li class="last">
	                    <a onmousedown="" onclick="return true;" href="/contestants"
						<% if selected=='contestants'%>class="selected"<%end%>
						>My Sprites</a>
	                </li>
					<!--
					<li class="right">
						<a href="/about"
						<% if selected=='about'%>class="selected"<%end%>
						>About</a>
					</li>
					-->
	            </ul>
	        </div>
	    </center>
		<div id="rewards">
			XP: <%=@current_user.reward_points%>
		</div>
	</div>
	
	<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %> 

</div>

<div id="footer"><%=Time.now-@start_time%>s
	<br/>
	a Christopher G Johnson production</div>

<script type="text/javascript">
function logout() {
	window.location = '<%= url_for :controller=>'', :logout=>'true' %>';
}
</script>

</body>
<html>