<%= javascript_include_tag "facebooker" %>
<%= stylesheet_link_tag "spriteclub" %>
<%= image_tag "sc_logo.gif" %>
<br/><br/>
	<h2 style="text-align:center">THE OFFICIAL ARENA OF FRIENDLY COMPETITION TO DETERMINE ONE THING - WHO HAS THE CUTEST KID</h2>
<fb:tabs>
	<fb:tab-item href="<%=url_for :controller=>'contests' %>" title="Active Face-Offs" />
	<fb:tab-item href="<%=url_for :controller=>'contestants' %>" title="My Sprites" selected="true" />
</fb:tabs>
<%= yield  %> 
