<!doctype html >
<html>
	<head>
	<%= stylesheet_link_tag "spriteclub" %>
	<link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js" ></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.6.custom.min.js" ></script>

	
</head>

<body>
<div class="mainContainer">
<%=link_to image_tag( "sc_logo.gif"), :action=>'index' %>

<br/><br/>
	<h2 style="text-align:center">THE OFFICIAL ARENA OF FRIENDLY COMPETITION TO DETERMINE ONE THING - WHO HAS THE CUTEST KID</h2>
	



    <% fb_connect_async_js  do %>    
      <%= yield :fb_connect%>
    <% end %>
	
	<%= javascript_include_tag "application" %>
	<script type="text/javascript">
/*
 * This method shows a popup window to prompt the user to post something to their own wall or a friend's wall
 */
function promptPublish(contest_url,photo_url,post_to_user_id) {
	var publish = {
		method: 'stream.publish',
		message: 'I think my kid is cuter than yours.  Let\'s find out', 
		attachment: { 
		    name: 'Sprite Club Challenge', 
		    caption: 'Thinks their kid is cuter than your kid', 
		    description: ('Sprite Club is a social application where users children(sprites) '+
							'compete for rank as the best sprite on the internet'),
			href: contest_url,		
		    media: [{ 
		        'type': 'image', 
				'src': photo_url,
				'href': contest_url }]
		}
	}; 
	//var action_links = [{'text':'Recaption this', 'href':'http://bit.ly/19DTbF'}];
	//Facebook.streamPublish(message, attachment, null,post_to_user_id);
	FB.ui(publish, callback());
}

function testPublish() {
var publish = {
  method: 'stream.publish',
  message: 'I think my kid is cuter than yours.  Let\'s find out',
  attachment: {
    name: 'Sprite Club Challenge',
    caption: '{*actor*} Thinks their kid is cuter than your kid',
    description: ('Sprite Club is a social application where users children(sprites) '+
							'compete for rank as the best sprite on the internet'),
    href: 'http://apps.facebook.com/spriteclub?contest_id=102',
    media: [
      {
        type: 'image',
        href: 'http://www.spriteclub.net',
        src: 'http://web1.tunnlr.com:11467/assets/contestants/41/small/RROD_small.jpg?1289104288'
      }
    ]
  }
  //action_links: [
  //  { text: 'fbrell', href: 'http://fbrell.com/' }
  //],
  //user_prompt_message: 'Share your thoughts about RELL'
};

FB.ui(publish, callback());
}

function callback() {
	alert("whats up");
}
</script>


<div class="tabs clearfix">
    <center>
        <div class="left_tabs">
            <ul id="toggle_tabs_unused" class="toggle_tabs">
                <li class="first ">
                    <a onmousedown="" onclick="return true;" class="selected" href="/contests">Active Face-Offs</a>
                </li>
                <li class="last ">
                    <a onmousedown="" onclick="return true;" class="" href="/contestants">My Sprites</a>
                </li>
            </ul>
        </div>
    </center>
</div>
	
<%= yield  %> 
<a href="#" onclick="javascript:testPublish()">test publish</a>
<div>
	
	<!--
	
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
	FB_RequireFeatures(
	    ["CanvasUtil"],
	    function(){
	             FB.XdComm.Server.init('/xd_receiver.html');
	             //FB.CanvasClient.startTimerToSizeToContent();
	    }
	);
</script>

<script type="text/javascript">
	FB_RequireFeatures(["XFBML"], function(){ FB.Facebook.init("a3a60d6b7e8f89f472e3991a80dc4b5a", "/xd_receiver.html"); });       
</script>

-->
<!--
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({appId: 'a3a60d6b7e8f89f472e3991a80dc4b5a',
  		   status: true,
		   cookie: true,
		   xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
    } else {
      alert("response.session is false");
    }
  });
</script>
-->
</bod>
</html>
