<!doctype html >
<html>
	<head>
	<%= stylesheet_link_tag "spriteclub" %>
	<link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js" ></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.6.custom.min.js" ></script>

	
</head>

<body>




    <% fb_connect_async_js  do %>    
      <%= yield :fb_connect%>
    <% end %>
	
	<%= javascript_include_tag "application" %>

<div class="mainContainer">
<%=link_to image_tag( "sc_logo.gif"), :action=>'index' %>

<br/><br/>
	<h2 style="text-align:center">THE OFFICIAL ARENA OF FRIENDLY COMPETITION TO DETERMINE ONE THING - WHO HAS THE CUTEST KID</h2>
	

	<div class="tabs clearfix" style="height:19xp;">
	    <center>
	        <div class="left_tabs">
	            <ul id="toggle_tabs_unused" class="toggle_tabs">
	                <li class="first">
	                    <a onmousedown="" onclick="return true;" class="selected" href="/contests">Active Face-Offs</a>
	                </li>
					<li>
						<a href="#">test</a>
					</li>
	                <li class="last">
	                    <a onmousedown="" onclick="return true;" class="" href="/contestants">My Sprites</a>
	                </li>
	            </ul>
	        </div>
	    </center>
	</div>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %> 

<div>
	
	<!--
	
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
	FB_RequireFeatures(
	    ["CanvasUtil"],
	    function(){
	             FB.XdComm.Server.init('/xd_receiver.html');
	             //FB.CanvasClient.startTimerToSizeToContent();
	    }
	);
</script>

<script type="text/javascript">
	FB_RequireFeatures(["XFBML"], function(){ FB.Facebook.init("a3a60d6b7e8f89f472e3991a80dc4b5a", "/xd_receiver.html"); });       
</script>

-->
<!--
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({appId: 'a3a60d6b7e8f89f472e3991a80dc4b5a',
  		   status: true,
		   cookie: true,
		   xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
    } else {
      alert("response.session is false");
    }
  });
</script>
-->
</bod>
</html>
